@import "../../style/variables";

.card {
  border-radius: 8px;
  background: $grey;
  width: 100%;
  height: calc(100% - 45px);
  padding: 15px 15px 54px;
  margin-bottom: 45px;
  box-shadow: 0 3px 8px rgba(black, 0.3);
  position: relative;

  h2 {
    color: $text;
    font-size: 20px;
    margin: 0;
  }
  h3 {
    color: $accent;
    font-size: 14px;
    margin: 2px 0 0;
  }
  p {
    color: $textFade;
    font-size: 16px;
    line-height: 20px;
  }
}

.add {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background: $text;
    border-radius: 20px;
  }
  &::before {
    width: 3px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%);
  }
  &::after {
    width: 100%;
    height: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.copy {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 14px;
  padding-left: 24px;
  background: transparent;
  border: none;
  color: $text;
  cursor: pointer;
  line-height: 19px;
}
