@import "../../style/variables";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
}

.topBar {
  height: 50px;
  padding: 0;
  background: $accentDark;

  h1 {
    float: left;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: $text;
  }
}

.search {
  background: $accent;
  padding: 85px 0;
}

.searchContainer {
  max-width: 630px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  h1 {
    font-size: 71px;
    margin: 0 0 47px;
    line-height: 1;
    color: $text;
    text-align: center;
  }
}

.inputContainer {
  display: flex;

  input {
    flex: 1 0 auto;
    padding: 12px 20px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    color: $darkGrey;
    &::placeholder {
      color: $textFade;
    }
  }
}
